.btn {
    transition: 0.5s !important;
}

.loginContainer {
    background-color: #294E95;
    min-height: 100vh;
    padding-top: 5%;
}

.submitButton {
    background-color: #294E95 !important;
    border-color: #294E95 !important;
    transition: 0.5s;
}

.submitButton:hover {
    background-color: #3565c0 !important;
    border-color: #3565c0 !important;
    transition: 0.5s;
}

.login-button-dimensions {
    height: 45px;
    width: 100%;
}

.login-button {
    background-color: #FB9847 !important;
    border-color: #FB9847 !important;
    color: white !important;
}

.login-button:hover {
    background-color: #EE7E2C !important;
    border-color: #EE7E2C !important;
    color: white !important;
}

.smallLoginContainer {
    background-color: white;
    padding: 40px;
    display: flex;
    /*min-height: 80vh;*/
    height: 80vh;
    width: 94%;
    margin-left: 3%;
    border-radius: 5px;

    justify-content: center;
    align-items: center;
}

.login-div-form {
    height: 600px;
    width: 30%;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 0 70px #E6EAF6;
}

.login-wallpaper {
    width: 65%;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-img {
    width: 80%;
    height: 100%;
}

.login-text-color {
    color: #FB9847;
    text-decoration: none;
    transition: 0.5s;
}

.login-text-color:hover {
    color: #EE7E2C;
}

.login-form {
    padding-top: 30px;
}

.form-control {
    height: 45px;
}

.icon {
    height: 45px;
    background-color: white !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-right-color: white !important;
}

.form-control {
    border-left-color: white !important;
}

.eyeIcon {
    height: 45px !important;
    color: #EE7E2C !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-color: #CED4DA !important;
}

.eyeIcon:hover {
    color: white !important;
    background-color: #EE7E2C !important;
    border-color: #EE7E2C !important;
}

.mainContainer {
    display: flex;
    overflow: scroll;
    height: 100vh;
}

.cardIcon {
    float: left;
    width: 65px;
}

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}

.dashContent {
    overflow: scroll;
    display: flex;
    width: 100%;
}

body {
    background-color: white;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #dbdfe6;
    text-decoration: none;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #282c34;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #282c34;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #EE7E2C;

    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #8E9AAF;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #EDFFD9;
}

@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

.table-container {
    max-width: 80%;
    padding-top: 50px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100vh;
}

.emp-form-container {
    /*max-width: 80%;*/
    min-width: 40%;
    padding-left: 7%;
    padding-right: 7%;
    height: 100vh;
}

#dropdown-gen.btn-primary {
    background-color: #E7E5DF;
    border: #E7E5DF;
    color: black;
    width: 100%;
    height: 45px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #FB9847 !important;
    color: white;
}

#dropdown-menu.show {
    width: 100% !important; /* Schimbă lățimea meniului dropdown la 300px */
    height: 100% !important; /* Schimbă lățimea meniului dropdown la 300px */
}

.show-entries {
    display: flex;
    /*justify-content: flex-end;*/
    padding-left: 70%;
}

.approve-button {
    background-color: #8daa91 !important;
    border-color: #8daa91 !important;
}

.approve-button:hover {
    background-color: #688d6c !important;
    border-color: #688d6c !important;
}
